.short-title {
  position: absolute ;
  bottom: 1vh;
  right: calc(50vw - 20vh); /*middle right*/
  text-shadow: 1px 1px 5px black;
  color: whitesmoke;
}

.short {
  position: relative;
  scroll-snap-align: end;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.short-video, .short-cover {
  position: absolute;
  min-height: 100svh;
  object-fit: cover;
}